<div *ngIf="!moviesLoaded">
    Retrieving movie list. Please wait...
</div>
<div *ngIf="moviesLoaded">
    <div *ngIf="movies.length > 0">
        <div class="row">
            <div class="col-sm-6">
                <button id="alphabetical-button" type="button" class="btn btn-light mr-2" (click)="orderBy('title','asc')">Alphabetical</button>
                <button id="oldest-button" type="button" class="btn btn-light mr-2" (click)="orderBy('year','asc')">Oldest</button>
                <button id="newest-button" type="button" class="btn btn-light mr-2" (click)="orderBy('year','desc')">Newest</button>
                <label class="small mt-3" id="order-by-label">Ordered by: {{sortField}} {{sortOrder}}</label>
            </div>
            <div class="col-sm-6">
                <p class="small mt-3">The [stored] tag, if present, indicates last recorded price (not live).</p>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <div *ngFor="let movie of movies" class="card text-center m-1" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">Year: {{movie.year}}</p>
                </div>
                <div *ngFor="let price of movie.prices; let i = index" class="card-footer">
                    <p class="card-text text-left">
                        <span *ngIf="i == 0" class="badge badge-danger" style="width: 100px;">
                            {{price.price | currency}}
                        </span>
                        <span *ngIf="i > 0" class="badge badge-secondary" style="width: 100px;">
                            {{price.price | currency}}
                        </span>
                        {{price.name}} 
                        <span *ngIf="price.fromStore">
                            [stored]
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="movies.length === 0">
        <p>
            No movies available.
        </p>
    </div>
</div>
